<!-- side.component.html -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="start">
    <mat-nav-list>
      <ng-container *ngIf="isAdmin || isSuperAdmin">
        <a mat-list-item [routerLink]="['/home/admin-dashboard']">Admin Dashboard</a>
      </ng-container>
      <a mat-list-item [routerLink]="['/home/dashboard']">Dashboard</a>
      <!-- Add more links as needed -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
