<div class="admin-background">
  <div class="top-form">
    <mat-grid-list class="head-gridlist" [cols]="cols" rowHeight="30px" gutterSize="10px">
      <mat-grid-tile *ngFor="let item of adminMenuGrid1" class="grid-tile" (click)="onTileClick(item)">
            {{ item.menuName }}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
<div class="bottom-form">
  <div class="inner-bottom-form">
    <ng-container *ngIf="activeMenuId == 1">
      <mat-card>
        <mat-card-title style="padding: 10px;">User Management</mat-card-title>

        <mat-form-field class="user-searchbox" appearance="fill">
          <mat-label>Search User</mat-label>
          <input

            matInput
            placeholder="User Name"
            [(ngModel)]="searchText"
            (input)="onSearchChange(searchText)"
          />
        </mat-form-field>

        <div *ngIf="searchResults.length > 0" style="padding: 10px;">
          <p >Search Results</p>
          <mat-list>
            <mat-list-item *ngFor="let user of searchResults" (click)="selectUser(user)">
              {{ user.firstName + ' '+ user.lastName + ' '+'('+ user.email + ')'}}
            </mat-list-item>
          </mat-list>
        </div>

        <div class="button-group" style="padding: 10px;">
          <button mat-raised-button color="primary" (click)="fetchUserList()">
            Get All User List
          </button>
          <button mat-raised-button color="accent" >
            Add New User
          </button>
        </div>
      </mat-card>
    <div style="padding-top: 10px;">
      <mat-card *ngIf="selectedUsers.length > 0" style="padding: 10px;">
        <mat-card-title>Selected Users</mat-card-title>
        <ul>
          <li *ngFor="let user of selectedUsers; let i = index ">
            {{ user.firstName + ' '+ user.lastName + ' '+'('+ user.email + ')'}}

            <button mat-icon-button (click)="viewUserDetails(user, i)" aria-label="View details">
              <mat-icon>visibility</mat-icon>
            </button>

            <button mat-icon-button (click)="editUser(user, i)" aria-label="Edit user">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button (click)="removeUser(user, i)" aria-label="Remove user">
              <mat-icon>close</mat-icon>
            </button>
          </li>
        </ul>
      </mat-card>
    </div>
    </ng-container>
  </div>
</div>
</div>
<ng-template #userPopup>
  <h4  mat-dialog-title>{{ isEditMode ? 'Edit User' : 'View User' }}</h4>

  <mat-dialog-content>
    <mat-form-field class="popup-field">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="selectedUserEditViewDelete.firstName" [disabled]="!isEditMode">
    </mat-form-field>

    <mat-form-field class="popup-field">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="selectedUserEditViewDelete.lastName" [disabled]="!isEditMode">
    </mat-form-field>

    <mat-form-field class="popup-field">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="selectedUserEditViewDelete.email" [disabled]="!isEditMode">
    </mat-form-field>

    <mat-form-field class="popup-field">
      <mat-label>Role</mat-label>
      <input matInput [(ngModel)]="selectedUserEditViewDelete.role" [disabled]="!isEditMode">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button *ngIf="isEditMode" (click)="saveUser(selectedUserEditViewDelete)">Save</button>
  </mat-dialog-actions>
</ng-template>

