
/* Background styling */
.admin-background {
  background-image: url('../../../../assets/images/admin-dashboard-background.jpeg'); /* Path to your image */
  background-size: cover; /* Ensure the image covers the whole element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100%; /* Full height of the component */
  width: 100%; /* Full width of the component */
  position: relative;
}
.head-gridlist{
  background-color: rgba(255, 0, 0, 0.5); // Added fixed transparent red color
}
/* Dashboard content styling */

