.admin-background {
  background: rgb(232,190,62);
  background: linear-gradient(90deg, rgba(232,190,62,1) 100%, rgba(0,212,255,1) 100%);
  // background-image: url('../../../../assets/images/admin-dashboard-background.jpeg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width of the component */
  position: relative;
}

.head-gridlist {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 87%, rgba(252,70,107,1) 100%);/* Slight transparency */
}
.top-form, .bottom-form{
  padding: 10px;
}
.grid-tile {
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;

  &:hover {
    background-color: lightblue;
  }

  &:active {
    background-color: lightgreen;
  }
}
.bottom-form{
  // width: 100%;
  // height: 60px;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: top; /* Center vertically */
  height: auto;
}
.user-searchbox{
  padding: 10px;
}
.inner-bottom-form{
  width: 80%;
}
