
/* Background styling */
.admin-background {
  background-image: url('../../../../assets/images/admin-dashboard-background.jpeg'); /* Path to your image */
  background-size: cover; /* Ensure the image covers the whole element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100%; /* Full height of the component */
  width: 100%; /* Full width of the component */
  position: relative;
}
.head-gridlist{
  background-color: rgba(0, 0, 0, 0.199); // Added fixed transparent red color
}
/* Dashboard content styling */

.grid-card {
  cursor: pointer; // Change mouse cursor to pointer
  transition: background-color 0.3s; // Smooth transition for background color
  user-select: none;

  // Change background color on hover
  &:hover {
    background-color: lightblue; // Color when hovered
  }

  // Change background color when clicked (active state)
  &:active {
    background-color: lightgreen; // Color when clicked
  }
}
