.animated-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-message {
  font-size: 3rem;
  color: #4A90E2;  // Customize the color as needed
  font-weight: bold;
  text-align: center;
  /* Additional styles if needed */
}
