<app-header (toggleSidenav)="toggleSidenav()" (logout)="logout()"></app-header>
<app-side-nav [isOpen]="isSidenavOpen" [currentTab]="currentTab" (tabChange)="onTabChange($event)">
  <div class="main-content">
    <ng-container [ngSwitch]="currentTab">
      <app-dashboard *ngSwitchCase="'dashboard'"></app-dashboard>
      <app-admin-home *ngSwitchCase="'admin'"></app-admin-home>
      <!-- <app-profile *ngSwitchCase="'profile'"></app-profile>
      <app-settings *ngSwitchCase="'settings'"></app-settings> -->
    </ng-container>
  </div>
</app-side-nav>
