.login-container {
  background-image: url('/assets/login-background.jpg');
  background-size: cover;
  background-position: center;
}
.google-btn-container {
  height: 50px;
  width: 140px; // Adjust this value as needed
  margin: 0; // Remove auto margin

  // Ensure the button itself fits the container
  ::ng-deep > div {
    width: 100% !important;
  }

  // Hide the last child div (likely text or icon)
  > div > div:last-child {
    display: none;
  }
}

